<html>

<body>
<div class="header">
    <div class="menu"></div>
</div>
.header {
    width: 200px;
    height: 200px;
    text-align: center;
    vertical-align: middle;
    background-color: #ffc;
}
.menu {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #fcc;
}
</body>
</html> 
