<html>

<body>
<div class="header">
    <div class="menu"></div>
<img class="fon"></img>
</div>
.header {
    width: 3000px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    background-color: #F4A460;
}
.menu {
    display: inline-block;
    height: 100px;
    morgin-left: 60px;
    background-color:#00FFFF;
}
.fon{
	background-image: url(images/big.jpg) no-repeat center / cover; /* Путь к фоновому изображению */
}
li{
					display: inline-block;
					

}
</body>
</html> 
