<html>

<body>
<div class="header">
    <div class="menu"></div>
</div>
.header {
    width: 3000px;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    background-color: #F4A460;
}
.menu {
    display: inline-block;
    height: 100px;
    background-color:#00FFFF;
}

.li{
    display: inline-block;
}
</body>
</html> 
