.nazv {
    text-align: center;
    background-color: aqua;
    width: 100%;
}

body {
    background-color: azure;
    font-family: "Gill Sans", sans-serif;
}

#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 5px; /* Поля вокруг текста */
    background: blue; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }


.logo {
  float: left;
    font-size: 20pt;
}
nav {
  float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
}

nav a {
  text-decoration: overline;
  line-height: 38px;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 100%;
  max-width: 1024px;
  padding: 15px;
  margin: 0 auto;
}
/*Делим на блоки */
.my-flex-cont {
 display: flex;
 height: 100px;
}
.my-flex-box {
 margin: 5px;
 padding: 5px;
 flex: 0 1 auto;
}
