body {
    background-color: #000000;
}

h1 {
    font-size: 50px;
    color:red;
}

.abzac {
    color: pink;
}

.imgCenter {width: 120px;
display: inline-flex;}

.imgCenter img{
 margin: auto 1500px;
    float: left;
    width: 700px;
    height: 200px;
}

